<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	      <key>Check for Updates</key>
	      <true/>
	      <key>QSActivationHotKey</key>
	      <dict>
            <!-- This means Alt-Space -->
		        <key>keyCode</key>
		        <integer>49</integer>
		        <key>modifiers</key>
		        <integer>524576</integer>
	      </dict>
	      <key>QSAgreementAccepted</key>
	      <true/>
	      <key>Setup Assistant Completed</key>
	      <true/>
    </dict>
</plist>
