# -*- mode: conf-unix; -*-

# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# defaults
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# 2-space indentation
[*.{rb,rb.sample,yml}]
indent_style = space
indent_size = 2

[{Berksfile,Gemfile,Thorfile}]
indent_style = space
indent_size = 2

# 4-space indentation
[*.{md,py}]
indent_style = space
indent_size = 4

# Tabbed indentation, 4-space representation
[*.{ps1,xml,plist}]
indent_style = tab
indent_size = 4
