# -*- mode: ruby; coding: utf-8; -*-

# Sample chef client configuration file
#
# Instructions:
#
# Replace the node_name's 'osx-node' with a name for your machine. If it is a
# roaming machine, it is NOT a good idea to let chef give it a node name based
# on its fully qualified domain name (FQDN).
#
# For a full list of options, see
# <https://docs.chef.io/config_rb_client.html>.

# Set a top-level cache path that makes commands runnable by standard user.
# Although the docs are a bit vague, the source code does not lie. See
# 'lib/chef/config.rb' in the repo <https://github.com/chef/chef>. cache_path
# allows setting the top-level directory for all cache files used by Chef. This
# means that it is not necessary to set checksum_path, file_cache_path,
# file_backup_path, and lockfile, as these will all use cache_path.
cache_path "#{ENV['HOME']}/.chef"
chef_server_url 'https://api.opscode.com/organizations/ibrahim_ahmed'
# The default level is :auto, which sets the log_level to :warn when
# log_location (default: STDOUT) is a tty. We want more information.
log_level :info
node_name 'macos-node'
validation_client_name 'ibrahim_ahmed-validator'
