# -*- mode: ruby; coding: utf-8; -*-

# Sample chef client configuration file
#
# Instructions:
#
# Replace the node_name's 'windows-node' with a name for your machine. If it is
# a roaming machine, it is NOT a good idea to let chef give it a node name
# based on its fully qualified domain name (FQDN).
#
# For a full list of options, see
# <https://docs.chef.io/config_rb_client.html>.

chef_server_url 'https://api.opscode.com/organizations/sean_fisk'
# The default level is :auto, which sets the log_level to :warn when
# log_location (default: STDOUT) is a tty. We want more information.
log_level :info
node_name 'windows-node'
validation_client_name 'sean_fisk-validator'

# Verify all HTTPS connections (recommended)
#
# Without this, chef-client warns about not verifying HTTPS connections every
# time. Might as well go for the most secure option.
ssl_verify_mode :verify_peer
