<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPUSetting_ACAdaptor</key>
	<integer>2</integer>
	<key>GPUSetting_Battery</key>
	<integer>0</integer>
	<key>hasSeenVersionTwoMessage</key>
	<true/>
	<key>shouldCheckForUpdatesOnStartup</key>
	<true/>
	<key>shouldGrowl</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldUseImageIcons</key>
	<integer>0</integer>
	<key>shouldUsePowerSourceBasedSwitching</key>
	<false/>
	<key>shouldUseSmartMenuBarIcons</key>
	<true/>
</dict>
</plist>
