<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Enable globbing so we can use a tilde in ProgramArguments instead of templating. We may have to template in the future anyhow, unfortunately. -->
	<key>EnableGlobbing</key>
	<true/>
	<key>Label</key>
	<string>net.devpi</string>
	<key>ProgramArguments</key>
	<array>
		<string>~/bin/devpi-server</string>
		<string>--start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
